/.idea/*.iml
/.idea/*.xml
/venv/Include/*.h
/venv/Lib/*.py
/venv/Lib/*.pyc
/venv/Lib/distutils/*.py
/venv/Lib/distutils/*.pyc
/venv/Lib/distutils/*.cfg
/venv/Lib/encodings/*.py
/venv/Lib/encodings/*.pyc
/venv/Lib/*.txt
/venv/Lib/site-packages/*.py
/venv/Lib/site-packages/*.pyc
/venv/Lib/site-packages/pip-8.1.2.dist-info/*.rst
/venv/Lib/site-packages/pip-8.1.2.dist-info/*
/venv/Lib/site-packages/pip-8.1.2.dist-info/*.txt
/venv/Lib/site-packages/pip-8.1.2.dist-info/*.json
/venv/Lib/site-packages/pip/*.py
/venv/Lib/site-packages/pip/*.pyc
/venv/Lib/site-packages/pip/_vendor/*.py
/venv/Lib/site-packages/pip/_vendor/*.pyc
/venv/Lib/site-packages/pip/_vendor/cachecontrol/*.py
/venv/Lib/site-packages/pip/_vendor/cachecontrol/*.pyc
/venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/*.py
/venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/*.pyc
/venv/Lib/site-packages/pip/_vendor/colorama/*.py
/venv/Lib/site-packages/pip/_vendor/colorama/*.pyc
/venv/Lib/site-packages/pip/_vendor/distlib/*.py
/venv/Lib/site-packages/pip/_vendor/distlib/*.pyc
/venv/Lib/site-packages/pip/_vendor/distlib/_backport/*.py
/venv/Lib/site-packages/pip/_vendor/distlib/_backport/*.pyc
/venv/Lib/site-packages/pip/_vendor/distlib/_backport/*.cfg
/venv/Lib/site-packages/pip/_vendor/distlib/*.exe
/venv/Lib/site-packages/pip/_vendor/html5lib/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/*.pyc
/venv/Lib/site-packages/pip/_vendor/html5lib/filters/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/filters/*.pyc
/venv/Lib/site-packages/pip/_vendor/html5lib/serializer/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/serializer/*.pyc
/venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/*.pyc
/venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/*.pyc
/venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/*.pyc
/venv/Lib/site-packages/pip/_vendor/html5lib/trie/*.py
/venv/Lib/site-packages/pip/_vendor/html5lib/trie/*.pyc
/venv/Lib/site-packages/pip/_vendor/lockfile/*.py
/venv/Lib/site-packages/pip/_vendor/lockfile/*.pyc
/venv/Lib/site-packages/pip/_vendor/packaging/*.py
/venv/Lib/site-packages/pip/_vendor/packaging/*.pyc
/venv/Lib/site-packages/pip/_vendor/pkg_resources/*.py
/venv/Lib/site-packages/pip/_vendor/pkg_resources/*.pyc
/venv/Lib/site-packages/pip/_vendor/progress/*.py
/venv/Lib/site-packages/pip/_vendor/progress/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/*.py
/venv/Lib/site-packages/pip/_vendor/requests/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/*.pem
/venv/Lib/site-packages/pip/_vendor/requests/packages/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/packages/chardet/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/chardet/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/contrib/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/contrib/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/packages/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/packages/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/packages/ssl_match_hostname/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/packages/ssl_match_hostname/*.pyc
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/util/*.py
/venv/Lib/site-packages/pip/_vendor/requests/packages/urllib3/util/*.pyc
/venv/Lib/site-packages/pip/commands/*.py
/venv/Lib/site-packages/pip/commands/*.pyc
/venv/Lib/site-packages/pip/compat/*.py
/venv/Lib/site-packages/pip/compat/*.pyc
/venv/Lib/site-packages/pip/models/*.py
/venv/Lib/site-packages/pip/models/*.pyc
/venv/Lib/site-packages/pip/operations/*.py
/venv/Lib/site-packages/pip/operations/*.pyc
/venv/Lib/site-packages/pip/req/*.py
/venv/Lib/site-packages/pip/req/*.pyc
/venv/Lib/site-packages/pip/utils/*.py
/venv/Lib/site-packages/pip/utils/*.pyc
/venv/Lib/site-packages/pip/vcs/*.py
/venv/Lib/site-packages/pip/vcs/*.pyc
/venv/Lib/site-packages/pkg_resources/*.py
/venv/Lib/site-packages/pkg_resources/*.pyc
/venv/Lib/site-packages/pkg_resources/_vendor/*.py
/venv/Lib/site-packages/pkg_resources/_vendor/*.pyc
/venv/Lib/site-packages/pkg_resources/_vendor/packaging/*.py
/venv/Lib/site-packages/pkg_resources/_vendor/packaging/*.pyc
/venv/Lib/site-packages/pkg_resources/extern/*.py
/venv/Lib/site-packages/pkg_resources/extern/*.pyc
/venv/Lib/site-packages/setuptools-22.0.5.dist-info/*.rst
/venv/Lib/site-packages/setuptools-22.0.5.dist-info/*
/venv/Lib/site-packages/setuptools-22.0.5.dist-info/*.txt
/venv/Lib/site-packages/setuptools-22.0.5.dist-info/*.json
/venv/Lib/site-packages/setuptools/*.py
/venv/Lib/site-packages/setuptools/*.pyc
/venv/Lib/site-packages/setuptools/*.exe
/venv/Lib/site-packages/setuptools/command/*.py
/venv/Lib/site-packages/setuptools/command/*.pyc
/venv/Lib/site-packages/setuptools/command/*.xml
/venv/Lib/site-packages/setuptools/extern/*.py
/venv/Lib/site-packages/setuptools/extern/*.pyc
/venv/Lib/site-packages/setuptools/*.tmpl
/venv/Lib/site-packages/wheel-0.29.0.dist-info/*.rst
/venv/Lib/site-packages/wheel-0.29.0.dist-info/*
/venv/Lib/site-packages/wheel-0.29.0.dist-info/*.txt
/venv/Lib/site-packages/wheel-0.29.0.dist-info/*.json
/venv/Lib/site-packages/wheel/*.py
/venv/Lib/site-packages/wheel/*.pyc
/venv/Lib/site-packages/wheel/*.txt
/venv/Lib/site-packages/wheel/signatures/*.py
/venv/Lib/site-packages/wheel/signatures/*.pyc
/venv/Lib/site-packages/wheel/test/*.py
/venv/Lib/site-packages/wheel/test/*.pyc
/venv/Lib/site-packages/wheel/test/complex-dist/complexdist/*.py
/venv/Lib/site-packages/wheel/test/complex-dist/complexdist/*.pyc
/venv/Lib/site-packages/wheel/test/complex-dist/*.py
/venv/Lib/site-packages/wheel/test/complex-dist/*.pyc
/venv/Lib/site-packages/wheel/test/headers.dist/*.h
/venv/Lib/site-packages/wheel/test/headers.dist/*.py
/venv/Lib/site-packages/wheel/test/headers.dist/*.pyc
/venv/Lib/site-packages/wheel/test/*.json
/venv/Lib/site-packages/wheel/test/simple.dist/*.py
/venv/Lib/site-packages/wheel/test/simple.dist/*.pyc
/venv/Lib/site-packages/wheel/test/simple.dist/simpledist/*.py
/venv/Lib/site-packages/wheel/test/simple.dist/simpledist/*.pyc
/venv/Lib/site-packages/wheel/test/*.whl
/venv/Lib/site-packages/wheel/tool/*.py
/venv/Lib/site-packages/wheel/tool/*.pyc
/venv/Scripts/*
/venv/Scripts/*.bat
/venv/Scripts/*.ps1
/venv/Scripts/*.py
/venv/Scripts/*.exe
/venv/*.json
/venv/tcl/tcl8.5/*.tcl
/venv/tcl/tcl8.5/encoding/*.enc
/venv/tcl/tcl8.5/http1.0/*.tcl
/venv/tcl/tcl8.5/msgs/*.msg
/venv/tcl/tcl8.5/opt0.4/*.tcl
/venv/tcl/tcl8.5/*
/venv/tcl/tcl8.5/tzdata/Africa/*
/venv/tcl/tcl8.5/tzdata/America/*
/venv/tcl/tcl8.5/tzdata/America/Argentina/*
/venv/tcl/tcl8.5/tzdata/America/Indiana/*
/venv/tcl/tcl8.5/tzdata/America/Kentucky/*
/venv/tcl/tcl8.5/tzdata/America/North_Dakota/*
/venv/tcl/tcl8.5/tzdata/Antarctica/*
/venv/tcl/tcl8.5/tzdata/Arctic/*
/venv/tcl/tcl8.5/tzdata/Asia/*
/venv/tcl/tcl8.5/tzdata/Atlantic/*
/venv/tcl/tcl8.5/tzdata/Australia/*
/venv/tcl/tcl8.5/tzdata/Brazil/*
/venv/tcl/tcl8.5/tzdata/*
/venv/tcl/tcl8.5/tzdata/Canada/*
/venv/tcl/tcl8.5/tzdata/Chile/*
/venv/tcl/tcl8.5/tzdata/Etc/*
/venv/tcl/tcl8.5/tzdata/Europe/*
/venv/tcl/tcl8.5/tzdata/Indian/*
/venv/tcl/tcl8.5/tzdata/Mexico/*
/venv/tcl/tcl8.5/tzdata/Pacific/*
/venv/tcl/tcl8.5/tzdata/SystemV/*
/venv/tcl/tcl8.5/tzdata/US/*
/venv/tcl/tk8.5/*.tcl
/venv/tcl/tk8.5/demos/*
/venv/tcl/tk8.5/demos/*.tcl
/venv/tcl/tk8.5/demos/*.msg
/venv/tcl/tk8.5/demos/images/*.gif
/venv/tcl/tk8.5/demos/images/*.xbm
/venv/tcl/tk8.5/demos/images/*.ppm
/venv/tcl/tk8.5/demos/*.terms
/venv/tcl/tk8.5/images/*
/venv/tcl/tk8.5/images/*.eps
/venv/tcl/tk8.5/images/*.gif
/venv/tcl/tk8.5/*.terms
/venv/tcl/tk8.5/msgs/*.msg
/venv/tcl/tk8.5/*
/venv/tcl/tk8.5/ttk/*.tcl
/venv
/.idea
/lativ/lativ/*.pyc
/dirbot/*.json
/turorial/turorial/*.pyc
*.pyc
*.json
